@charset "UTF-8";
@include ns(loading-container) { position: relative !important;width: 100%}
@include ns(loading) {
  position: absolute;z-index: 200;margin: 0;top: 0;right: 0;bottom: 0;left: 0;transition: opacity .3s; display: flex;align-items: center;justify-content: center;flex-direction: column;min-height: 50px;
  &.mask{background-color: rgba(0, 0, 0, .1)}
  @include ns(loading-spin) {
    overflow: hidden;
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: $primaryColor;
    animation: spin 2s linear infinite;
    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: $primaryColor;
      animation: spin 3s linear infinite;
    }
    &:after {
      content: '';
      position: absolute;
      top: 12px;
      left: 12px;
      right: 12px;
      bottom: 12px;
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: $primaryColor;
      animation: spin 1.5s linear infinite;
    }
  }
  @include ns(loading-text) {color: $primaryColor;font-size: 14px}
  &.large {min-height: 80px;
    > div {height: 80px;width: 80px;border-width: 3px;
      &:before {
        border-width: 3px;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;}
      &:after {border-width: 3px;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;}
    }
  }
  &.small {
    min-height: 36px;
    > div {height: 36px;width: 36px;
      &:before {
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;}
      &:after {
        top: 9px;
        left: 9px;
        right: 9px;
        bottom: 9px;}
    }}
  &.mini {min-height: 20px;
    > div {height: 20px;width: 20px;
      &:before {
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;}
      &:after {
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;}
    }}
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

